# 1. Data Wrangling

In [24]:
fellonies = pd.read_csv('/Users/elskedenbode/Downloads/Geregistreerde_misdrijven__wijken_en_buurten_2018_13082020_204702.csv', sep=';', skiprows=6, header=None)
fellonies.head()
#To Do:
#Add column names
#Drop column (3) Amsterdam and (4) Wijk/Buurt, (6) = 1
#Relative paths for every dataframe (try from GoogleDrive)

,0,1,2,3,4,5,6,7,8,9,10
0,Burgwallen-Oude Zijde,Amsterdam,Wijk,WK036300,1.0,4305.0,787,599,3,25,54
1,Kop Zeedijk,Amsterdam,Buurt,BU03630000,1.0,1030.0,508,350,1,21,44
2,Oude Kerk e.o.,Amsterdam,Buurt,BU03630001,1.0,690.0,2328,1917,4,42,100
3,Burgwallen Oost,Amsterdam,Buurt,BU03630002,1.0,1590.0,445,278,3,21,53
4,Nes e.o.,Amsterdam,Buurt,BU03630003,1.0,360.0,1031,894,0,31,53

In [30]:
households = pd.read_excel('/Users/elskedenbode/Downloads/to be used for database 2020-Househould types.xlsx', skiprows=2)
households.head()
#To Do:
#split ID (column Buurt) to create ID and Buurt name
#Rename columns to the colum names in ERD
#Sum household types (1, 2 and 6, 7, 8) and sum (3 and 4 gehuwd and ongehuwd samenw met kinderen) 
#Drop row 1
#Relative paths for every dataframe

,buurt,alleenstaand,gehuwd samenw. zonder kinderen,ongehuwd samenw. zonder kinderen,gehuwd samenw. met kinderen,ongehuwd samenw. met kinderen,eenoudergezin,overig,tehuisbewoner,totaal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A00a Kop Zeedijk,500.0,82.0,304.0,54.0,34.0,55.0,50.0,21.0,1100
2,A00b Oude Kerk e.o.,339.0,42.0,210.0,28.0,21.0,53.0,35.0,0.0,728
3,A00c Burgwallen Oost,680.0,114.0,422.0,101.0,77.0,95.0,99.0,25.0,1613
4,A00d Nes e.o.,131.0,28.0,110.0,23.0,21.0,16.0,22.0,0.0,351

In [39]:
population = pd.read_excel('/Users/elskedenbode/Downloads/to be used for database 2020-buurten total and split between men and women.xlsx', skiprows=3)
population.head()
#To Do:
#split ID (column Buurt) to create ID and Buurt name
#Rename columns to the colum names in ERD
#Drop 2016, 2017, 2018, 2019 and total
#Drop row 1
#Relative paths for every dataframe

                  buurt  2016  2017  2018  2019 totaal mannen vrouwen
0                   NaN   NaN   NaN   NaN   NaN    NaN    NaN     NaN
1      A00a Kop Zeedijk  1022  1024  1032  1035   1100    628     472
2   A00b Oude Kerk e.o.   673   664   689   704    728    414     314
3  A00c Burgwallen Oost  1616  1580  1589  1573   1613    857     756
4         A00d Nes e.o.   372   360   361   352    351    195     156

In [43]:
# Import all the above to the Database

AttributeError: 'Series' object has no attribute 'find_pattern'

# 2. Data Cleaning

1. Importing pandas, pymysql and sqlalchemy

In [1]:
import pandas as pd

In [2]:
import pymysql
from sqlalchemy import create_engine

2. Creating a connection to the database, see the connection details [here](https://github.com/cmerticaru/Project_2_Amsterdam_dataptams2020/tree/master/your-project)

In [ ]:
connection = create_engine('#insert link here later')

In [ ]:
3. Checking for missing values

In [ ]:
null_values = #df_name.isnull().sum()
null_values

# 3. Data Analysis
First steps in analyzing the data

1. Correlation (neighbourhoods with children and crimes)

Is there a relationship between household types and fellony rates within neighbourhoods?

In [ ]:
#df_name.corr[#household_column].sort_values([household_column], ascending = False)

2. Qcut - top 25% safest neighbourhoods
2. Sum Vandalism/Aggression and Violence+SequalAssault -> order Ascending and get top 10
3. Get % households with families