# 1. Data Wrangling

### Fellonies Table

In [51]:
import pandas as pd
import re
url_felonies = 'https://docs.google.com/spreadsheets/d/1TzV3RQsHIuBGoPKceKEHuVCNV7W2_fOdL3t9x4c7kO8/edit#gid=1870046800'
url_felonies_new = url_felonies.replace('/edit#gid=', '/export?format=csv&gid=')
felonies = pd.read_csv(url_felonies_new, skiprows=3, sep=';""', engine='python')
felonies
#remove ""

,"""","Regioaanduiding|Gemeentenaam""""","Regioaanduiding|Soort regio""""","Regioaanduiding|Codering""""","Regioaanduiding|Indelingswijziging""""","Regioaanduiding|Aantal inwoners""""","Vermogen"",vernieling en geweld,relatief|Totaal vermogen,""vernieling en geweld""""","Vermogen"",vernieling en geweld,""relatief|Vermogensmisdrijven|Totaal vermogensmisdrijven""""","Vermogen"",vernieling en geweld,""relatief|Vermogensmisdrijven|Totaal diefstal uit woning/schuur/e.d.""""","Vermogen"",vernieling en geweld,relatief|Vernieling,""misdrijf tegen openbare orde""""","Vermogen"",vernieling en geweld,""relatief|Gewelds- en seksuele misdrijven"""""""
0,"""Wijken en buurten","naam""""","omschrijving""""","code""""","code""""","aantal""""","per 1000 inwoners""""","per 1000 inwoners""""","per 1000 inwoners""""","per 1000 inwoners""""","per 1000 inwoners"""""",,,,,,,,,,,,"
1,"""Amsterdam","Amsterdam""""","Gemeente""""","GM0363""""",".""""","854047""""","83""""","67""""","5""""","5""""","9"""""",,,,,,,,,,,,"
2,"""Burgwallen-Oude Zijde","Amsterdam""""","Wijk""""","WK036300""""","1""""","4305""""","787""""","599""""","3""""","25""""","54"""""",,,,,,,,,,,,"
3,"""Kop Zeedijk","Amsterdam""""","Buurt""""","BU03630000""""","1""""","1030""""","508""""","350""""","1""""","21""""","44"""""",,,,,,,,,,,,"
4,"""Oude Kerk e.o.","Amsterdam""""","Buurt""""","BU03630001""""","1""""","690""""","2328""""","1917""""","4""""","42""""","100"""""",,,,,,,,,,,,"
...,...,...,...,...,...,...,...,...,...,...,...
576,"""Gein Zuidoost","Amsterdam""""","Buurt""""","BU03639703""""","1""""","3395""""","23""""","14""""","4""""","3""""","5"""""",,,,,,,,,,,,"
577,"""Driemond","Amsterdam""""","Wijk""""","WK036398""""","1""""","1545""""","19""""","14""""","2""""","1""""","4"""""",,,,,,,,,,,,"
578,"""Dorp Driemond","Amsterdam""""","Buurt""""","BU03639800""""","1""""","1435""""","20""""","15""""","2""""","1""""","4"""""",,,,,,,,,,,,"
579,"""Landelijk gebied Driemond","Amsterdam""""","Buurt""""","BU03639801""""","1""""","110""""","9""""","9""""","0""""","0""""","0"""""",,,,,,,,,,,,"
580,"Bron: CBS,,,,,,,,,,,,",None,None,None,None,None,None,None,None,None,None

In [52]:
#remove special characters
felonies.replace('"','', regex=True, inplace=True)
felonies.replace(',','', regex=True, inplace=True)
felonies
#To Do:
#Add column names
#Drop column (3) Amsterdam and (4) Wijk/Buurt, (6) = 1
#Relative paths for every dataframe (try from GoogleDrive)

,"""","Regioaanduiding|Gemeentenaam""""","Regioaanduiding|Soort regio""""","Regioaanduiding|Codering""""","Regioaanduiding|Indelingswijziging""""","Regioaanduiding|Aantal inwoners""""","Vermogen"",vernieling en geweld,relatief|Totaal vermogen,""vernieling en geweld""""","Vermogen"",vernieling en geweld,""relatief|Vermogensmisdrijven|Totaal vermogensmisdrijven""""","Vermogen"",vernieling en geweld,""relatief|Vermogensmisdrijven|Totaal diefstal uit woning/schuur/e.d.""""","Vermogen"",vernieling en geweld,relatief|Vernieling,""misdrijf tegen openbare orde""""","Vermogen"",vernieling en geweld,""relatief|Gewelds- en seksuele misdrijven"""""""
0,Wijken en buurten,naam,omschrijving,code,code,aantal,per 1000 inwoners,per 1000 inwoners,per 1000 inwoners,per 1000 inwoners,per 1000 inwoners
1,Amsterdam,Amsterdam,Gemeente,GM0363,.,854047,83,67,5,5,9
2,Burgwallen-Oude Zijde,Amsterdam,Wijk,WK036300,1,4305,787,599,3,25,54
3,Kop Zeedijk,Amsterdam,Buurt,BU03630000,1,1030,508,350,1,21,44
4,Oude Kerk e.o.,Amsterdam,Buurt,BU03630001,1,690,2328,1917,4,42,100
...,...,...,...,...,...,...,...,...,...,...,...
576,Gein Zuidoost,Amsterdam,Buurt,BU03639703,1,3395,23,14,4,3,5
577,Driemond,Amsterdam,Wijk,WK036398,1,1545,19,14,2,1,4
578,Dorp Driemond,Amsterdam,Buurt,BU03639800,1,1435,20,15,2,1,4
579,Landelijk gebied Driemond,Amsterdam,Buurt,BU03639801,1,110,9,9,0,0,0
580,Bron: CBS,None,None,None,None,None,None,None,None,None,None

In [53]:
felonies.columns

Index(['"', 'Regioaanduiding|Gemeentenaam""', 'Regioaanduiding|Soort regio""',
       'Regioaanduiding|Codering""', 'Regioaanduiding|Indelingswijziging""',
       'Regioaanduiding|Aantal inwoners""',
       'Vermogen",vernieling en geweld,relatief|Totaal vermogen,"vernieling en geweld""',
       'Vermogen",vernieling en geweld,"relatief|Vermogensmisdrijven|Totaal vermogensmisdrijven""',
       'Vermogen",vernieling en geweld,"relatief|Vermogensmisdrijven|Totaal diefstal uit woning/schuur/e.d.""',
       'Vermogen",vernieling en geweld,relatief|Vernieling,"misdrijf tegen openbare orde""',
       'Vermogen",vernieling en geweld,"relatief|Gewelds- en seksuele misdrijven"""'],
      dtype='object')

In [54]:
len(felonies.columns)
felonies_tjerk = felonies.copy()
felonies_tjerk.columns = ['a','b','c', 'd','Regioaanduiding|Indelingswijziging""',
       'Regioaanduiding|Aantal inwoners""',
       'Vermogen",vernieling en geweld,relatief|Totaal vermogen,"vernieling en geweld""',
       'Vermogen",vernieling en geweld,"relatief|Vermogensmisdrijven|Totaal vermogensmisdrijven""',
       'Vermogen",vernieling en geweld,"relatief|Vermogensmisdrijven|Totaal diefstal uit woning/schuur/e.d.""',
       'Vermogen",vernieling en geweld,relatief|Vernieling,"misdrijf tegen openbare orde""',
       'Vermogen",vernieling en geweld,"relatief|Gewelds- en seksuele misdrijven"""']
felonies_tjerk.columns

felonies_tjerk.head()
felonies_tjerk2 = felonies_tjerk.drop(['a','c'], axis=1)
felonies_tjerk2.head()

,b,d,"Regioaanduiding|Indelingswijziging""""","Regioaanduiding|Aantal inwoners""""","Vermogen"",vernieling en geweld,relatief|Totaal vermogen,""vernieling en geweld""""","Vermogen"",vernieling en geweld,""relatief|Vermogensmisdrijven|Totaal vermogensmisdrijven""""","Vermogen"",vernieling en geweld,""relatief|Vermogensmisdrijven|Totaal diefstal uit woning/schuur/e.d.""""","Vermogen"",vernieling en geweld,relatief|Vernieling,""misdrijf tegen openbare orde""""","Vermogen"",vernieling en geweld,""relatief|Gewelds- en seksuele misdrijven"""""""
0,naam,code,code,aantal,per 1000 inwoners,per 1000 inwoners,per 1000 inwoners,per 1000 inwoners,per 1000 inwoners
1,Amsterdam,GM0363,.,854047,83,67,5,5,9
2,Amsterdam,WK036300,1,4305,787,599,3,25,54
3,Amsterdam,BU03630000,1,1030,508,350,1,21,44
4,Amsterdam,BU03630001,1,690,2328,1917,4,42,100

In [55]:
#drop first row
felonies.drop([0], inplace=True)
#drop columns
felonies.drop([felonies.columns[1], felonies.columns[2], felonies.columns[4]],  axis=1, inplace=True)

In [56]:
#translate column names

felonies.rename(columns={'"': 'Neighborhood_name', 'Regioaanduiding|Codering""' : 'Neighborhood_code','Neighborhood_name': '"Regioaanduiding|Gemeentenaam""','Regioaanduiding|Aantal inwoners""' : 'Total_population', 'Vermogen",vernieling en geweld,relatief|Totaal vermogen,"vernieling en geweld""' : 'Sum_felonies', 'Vermogen",vernieling en geweld,"relatief|Vermogensmisdrijven|Totaal vermogensmisdrijven""' : 'Counterfeiting', 'Vermogen",vernieling en geweld,"relatief|Vermogensmisdrijven|Totaal diefstal uit woning/schuur/e.d.""' : 'Theft', 'Vermogen",vernieling en geweld,relatief|Vernieling,"misdrijf tegen openbare orde""' : 'Vandalism_agression_against_law_enforcement', 'Vermogen",vernieling en geweld,"relatief|Gewelds- en seksuele misdrijven"""' : 'Violence_SexualAssault'}, inplace=True)

### Households Table

In [57]:
import requests
url_two = 'https://docs.google.com/spreadsheets/d/1MSdpWdCUgHD-QLYRX1VTChpNTgMJN0vD/edit#gid=1644540749'
csv_export_url_two = url_two.replace('/edit#gid=', '/export?format=csv&gid=')
households = pd.read_csv(csv_export_url_two, skiprows=2)
households.head()

#To Do:
#Rename columns to the colum names in ERD
#Sum household types (1, 2 and 6, 7, 8) and sum (3 and 4 gehuwd and ongehuwd samenw met kinderen) 
#Relative paths for every dataframe

,buurt,alleenstaand,gehuwd samenw. zonder kinderen,ongehuwd samenw. zonder kinderen,gehuwd samenw. met kinderen,ongehuwd samenw. met kinderen,eenoudergezin,overig,tehuisbewoner,totaal
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A00a Kop Zeedijk,500.0,82.0,304.0,54.0,34.0,55.0,50.0,21.0,1100
2,A00b Oude Kerk e.o.,339.0,42.0,210.0,28.0,21.0,53.0,35.0,0.0,728
3,A00c Burgwallen Oost,680.0,114.0,422.0,101.0,77.0,95.0,99.0,25.0,1613
4,A00d Nes e.o.,131.0,28.0,110.0,23.0,21.0,16.0,22.0,0.0,351

In [58]:
#sum columns 1,2 and 6,7,8
households['Households_except_couple_with_kids'] = households[['alleenstaand','gehuwd samenw. zonder kinderen', 'ongehuwd samenw. zonder kinderen', 'eenoudergezin', 'overig', 'tehuisbewoner']].sum(axis=1)
households['Couples_with_children'] = households[['gehuwd samenw. met kinderen', 'ongehuwd samenw. met kinderen']].sum(axis=1)
households

,buurt,alleenstaand,gehuwd samenw. zonder kinderen,ongehuwd samenw. zonder kinderen,gehuwd samenw. met kinderen,ongehuwd samenw. met kinderen,eenoudergezin,overig,tehuisbewoner,totaal,Households_except_couple_with_kids,Couples_with_children
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
1,A00a Kop Zeedijk,500.0,82.0,304.0,54.0,34.0,55.0,50.0,21.0,1100,1012.0,88.0
2,A00b Oude Kerk e.o.,339.0,42.0,210.0,28.0,21.0,53.0,35.0,0.0,728,679.0,49.0
3,A00c Burgwallen Oost,680.0,114.0,422.0,101.0,77.0,95.0,99.0,25.0,1613,1435.0,178.0
4,A00d Nes e.o.,131.0,28.0,110.0,23.0,21.0,16.0,22.0,0.0,351,307.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...
480,T98a Dorp Driemond,197.0,294.0,74.0,521.0,222.0,181.0,0.0,0.0,1489,746.0,743.0
481,T98b Landelijk Gebied Driemond,6.0,12.0,4.0,64.0,34.0,11.0,0.0,0.0,131,33.0,98.0
482,ASD Amsterdam,251411.0,84676.0,116036.0,209526.0,80479.0,103688.0,19766.0,6798.0,872380,582375.0,290005.0
483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bron: OIS,0.0,0.0

In [59]:
#translate column names
households.rename(columns={'buurt': 'Neighborhood', 'totaal': 'Total'}, inplace=True)

In [60]:
#split neigborhood code from neigborhood name for linking purposes
households[['Neighborhood_code','Neighborhood_name']] = households["Neighborhood"].str.split(" ", 1, expand=True)
households["Neighborhood_name"] = households["Neighborhood_name"].str.strip("-")

#drop first blank row
households.drop([0], inplace=True)
#drop final two rows
households.drop(households.tail(2).index, inplace=True)

In [61]:
#drop the unnecessary columns
households.drop([households.columns[0], households.columns[1], households.columns[2], households.columns[3], households.columns[4], households.columns[5], households.columns[6], households.columns[7], households.columns[8]], axis = 'columns', inplace=True)
households
#df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')

,Total,Households_except_couple_with_kids,Couples_with_children,Neighborhood_code,Neighborhood_name
1,1100,1012.0,88.0,A00a,Kop Zeedijk
2,728,679.0,49.0,A00b,Oude Kerk e.o.
3,1613,1435.0,178.0,A00c,Burgwallen Oost
4,351,307.0,44.0,A00d,Nes e.o.
5,673,569.0,104.0,A00e,BG-terrein e.o.
...,...,...,...,...,...
478,3268,1614.0,1654.0,T97c,Gein Noordoost
479,3375,2185.0,1190.0,T97d,Gein Zuidoost
480,1489,746.0,743.0,T98a,Dorp Driemond
481,131,33.0,98.0,T98b,Landelijk Gebied Driemond
482,872380,582375.0,290005.0,ASD,Amsterdam

### Population Table

In [62]:
population_url = 'https://docs.google.com/spreadsheets/d/1BO1vYgVvsgwGDyc-HUAlRcHiLf49Ju_5/edit#gid=1984353751'
population_url_csv = population_url.replace('/edit#gid=', '/export?format=csv&gid=')
population = pd.read_csv(population_url_csv, skiprows=3)
population_original = population.copy()

In [63]:
#drop first blank row
population.drop([0], inplace=True)

#drop unneccessary columns
population.drop(columns=['2016','2017','2018','2019', 'totaal'], inplace=True)

In [64]:
#translate column names
population.rename(columns={'buurt': 'Neighborhood', 'mannen': 'Population_male', 'vrouwen':'Population_female'}, inplace=True)

In [65]:
#split neigborhood code from neigborhood name for linking purposes
population[['Neighborhood_code','Neighborhood_name']] = population["Neighborhood"].str.split(" ", 1, expand=True)
population["Neighborhood_name"] = population["Neighborhood_name"].str.strip("-")
#drop neigborhood
population.drop(columns=['Neighborhood'], inplace=True)

In [66]:
population.drop(population.tail(2).index, inplace=True)
population

,Population_male,Population_female,Neighborhood_code,Neighborhood_name
1,628,472,A00a,Kop Zeedijk
2,414,314,A00b,Oude Kerk e.o.
3,857,756,A00c,Burgwallen Oost
4,195,156,A00d,Nes e.o.
5,371,302,A00e,BG-terrein e.o.
...,...,...,...,...
478,1651,1617,T97c,Gein Noordoost
479,1641,1734,T97d,Gein Zuidoost
480,705,784,T98a,Dorp Driemond
481,73,58,T98b,Landelijk Gebied Driemond
482,432729,439651,Amsterdam,None

In [67]:
# Import all the above to the Database
#df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv')
#population.to_mysql
# example code
#import pymysql
#from sqlalchemy import create_engine

#connection = pymysql.connect(....)
#engine = create_engine( 'Ams_pop')
#fellonies_final.to_sql('table_name', engine, if_exists='append')

import pymysql
import pandas as pd
from sqlalchemy import create_engine

# Create dataframe
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Jessy35!",
                               db="Ams_pop"))

In [68]:
# Connect Population to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='Jessy35!',
                         db='Ams_pop')

In [74]:
#Connect Households to the database
households.to_sql('Households', con = engine, if_exists='append', index=False)

In [75]:
#Connect Felonies to the database
felonies.to_sql('Felonies', con = engine, if_exists='append', index=False)
#Go into SQL to check if all the data types are correct

In [76]:
# create cursor
cursor=connection.cursor()

In [77]:
# Execute the to_sql for writting DF into SQL
population.to_sql('Population', con = engine, if_exists='append', index=False)

In [ ]:
# Execute query
#sql = "SELECT Households.Neighborhood_code FROM Households;"

sql = """SELECT Households.Neighborhood_code as 'Neighborhood Code', Households.Neighborhood_name as 'Neighborhood Name', Households.Households_except_couple_with_kids as 'Households without Children', Households.Couples_with_children as 'Households with Children', Population.Population_male as 'Population Male', Population.Population_female as 'Population Female'
FROM Households
INNER JOIN Population
ON Households.Neighborhood_code = Population.Neighborhood_code;
"""

cursor.execute(sql)
rows = cursor.fetchall()
for row_single in rows:
    print(row_single[0])
    print(row_single[1])
rows[8]

In [29]:
# Fetch all the records
result = cursor.fetchall()
for i in result:
    print(i)

In [ ]:
engine.dispose()
connection.close()


#under the hood
#for row in fellonies_final:
#    INSERT INTO (col1, col2)

# 2. Data Cleaning

1. Importing pandas, pymysql and sqlalchemy

In [16]:
import pandas as pd

2. Creating a connection to the database, see the connection details [here](https://github.com/cmerticaru/Project_2_Amsterdam_dataptams2020/tree/master/your-project)

In [ ]:
3. Checking for missing values

In [ ]:
null_values = #df_name.isnull().sum()
null_values

# 3. Data Analysis
First steps in analyzing the data

1. Correlation (neighbourhoods with children and crimes)

Is there a relationship between household types and fellony rates within neighbourhoods?

In [ ]:
#df_name.corr[#household_column].sort_values([household_column], ascending = False)

2. Qcut - top 25% safest neighbourhoods
2. Sum Vandalism/Aggression and Violence+SequalAssault -> order Ascending and get top 10
3. Get % households with families