# 1. Set-up engine and connection

In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Set up engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw="Jessy35!",
                               db="Ams_pop2"))

In [3]:
# Connect Population to the database
connection = pymysql.connect(host='localhost',
                         user='root',
                         password='Jessy35!',
                         db='Ams_pop2')

In [4]:
# create cursor
cursor=connection.cursor()

In [5]:
#importing merged dataset
frame = pd.read_sql("SELECT * FROM merged_datasets", connection)
pd.set_option('display.expand_frame_repr', False)
frame

             Neighborhood Name Neighborhood Code Population Female Population Male  Households without Children  Households with Children  Total Population Sum_felonies Counterfeiting Theft Vandalism/Aggression against law enforcement Violence and Sexual Assault
0                  Kop Zeedijk              A00a               472             628                         1012                        88              1030          508            350     1                                           21                          44
1               Oude Kerk e.o.              A00b               314             414                          679                        49               690         2328           1917     4                                           42                         100
2              Burgwallen Oost              A00c               756             857                         1435                       178              1590          445            278     3                                           21                          53
3                     Nes e.o.              A00d               156             195                          307                        44               360         1031            894     0                                           31                          53
4              BG-terrein e.o.              A00e               302             371                          569                       104               630          284            206     6                                           21                          25
..                         ...               ...               ...             ...                          ...                       ...               ...          ...            ...   ...                                          ...                         ...
473              Gein Zuidwest              T97b               870             815                         1207                       478              1690           37             25     2                                            4                           6
474             Gein Noordoost              T97c              1617            1651                         1614                      1654              3365           45             18     5                                           25                           1
475              Gein Zuidoost              T97d              1734            1641                         2185                      1190              3395           23             14     4                                            3                           5
476              Dorp Driemond              T98a               784             705                          746                       743              1435           20             15     2                                            1                           4
477  Landelijk Gebied Driemond              T98b                58              73                           33                        98               110            9              9     0                                            0                           0

[478 rows x 12 columns]

# 2. Checking and replacing missing values

In [7]:
null_values = frame.isnull().sum()
null_values

Neighborhood Name                               0
Neighborhood Code                               0
Population Female                               0
Population Male                                 0
Households without Children                     0
Households with Children                        0
Total Population                                0
Sum_felonies                                    0
Counterfeiting                                  0
Theft                                           0
Vandalism/Aggression against law enforcement    0
Violence and Sexual Assault                     0
dtype: int64

In [43]:
#Checking which columns have 0 values
frame[frame.eq(0)].all()
#Checking how many rows
len(frame.loc[frame['Total Population'] == 0])
#Checking which rows
frame.loc[frame['Total Population'] == 0]

              Neighborhood Name Neighborhood Code Population Female Population Male  Households without Children  Households with Children  Total Population Sum_felonies Counterfeiting Theft Vandalism/Aggression against law enforcement Violence and Sexual Assault
71               Petroleumhaven              B10c                 0               2                            2                         0                 0
78          Sloterdijk III Oost              F11c                 -               -                            0                         0                 0
82                 Bretten Oost              F11h                 2               -                            2                         0                 0
83                 Bretten West              F11j                 -               -                            0                         0                 0
92             Westergasfabriek              E13g                 -               -                            0                         0                 0
121                         RAI              K23b                 -               -                            0                         0                 0
172   Zeeburgereiland Noordoost              M34g                 -               -                            0                         0                 0
216             Vondelpark West              K46d                 -               -                            0                         0                 0
225             Vondelpark Oost              K47i                 1               3                            1                         3                 0
239                Strandeiland              M50a                 -               -                            0                         0                 0
240       Middeneiland Zuidoost              M50b                 -               -                            0                         0                 0
241       Middeneiland Zuidwest              M50d                 -               -                            0                         0                 0
242                Buiteneiland              M50f                 -               -                            0                         0                 0
243               Centrumeiland              M50g                 -               -                            0                         0                 0
273  Sportpark Middenmeer Noord              M56e                89             164                          253                         0                 0
275          Sportpark Voorland              M56g                 -               -                            0                         0                 0
281                    Drieburg              M57c                 -               -                            0                         0                 0
290                 Beatrixpark              K59b                 -               -                            0                         0                 0
337      Cornelis Douwesterrein              N71e                 -               1                            1                         0                 0
366                  Sloterpark              F77e                36              40                           60                        16                 0
449          Nelson Mandelapark              T93k                 -               -                            0                         0                 0

In [57]:
#replace with sum
frame['Total Population'].replace(0, (frame['Households without Children'] + frame['Households with Children']), inplace=True)
frame.loc[frame['Total Population'] == 0]
#drop the empty rows (neighborhoods no longer exist, or no data collected in 2020)
#drop first row
frame.drop(frame[frame['Total Population'] == 0].index, axis=0, inplace=True)
frame.loc[frame['Total Population'] == 0]

Empty DataFrame
Columns: [Neighborhood Name, Neighborhood Code, Population Female, Population Male, Households without Children, Households with Children, Total Population, Sum_felonies, Counterfeiting, Theft, Vandalism/Aggression against law enforcement, Violence and Sexual Assault]
Index: []

In [73]:
#checking empty values
frame.loc[frame['Sum_felonies'] == '']
#checking unknown values
frame.loc[frame['Sum_felonies'] == '.']
#replacing '.' with 0
frame.replace('.', 0, inplace=True)
#replacing empty val

#niets (blanco) : het cijfer kan op logische gronden niet voorkomen
#. : het cijfer is onbekend, onvoldoende betrouwbaar of geheim
#* : voorlopige cijfers
#** : nader voorlopige cijfers

             Neighborhood Name Neighborhood Code Population Female Population Male  Households without Children  Households with Children  Total Population Sum_felonies Counterfeiting Theft Vandalism/Aggression against law enforcement Violence and Sexual Assault
0                  Kop Zeedijk              A00a               472             628                         1012                        88              1030          508            350     1                                           21                          44
1               Oude Kerk e.o.              A00b               314             414                          679                        49               690         2328           1917     4                                           42                         100
2              Burgwallen Oost              A00c               756             857                         1435                       178              1590          445            278     3                                           21                          53
3                     Nes e.o.              A00d               156             195                          307                        44               360         1031            894     0                                           31                          53
4              BG-terrein e.o.              A00e               302             371                          569                       104               630          284            206     6                                           21                          25
..                         ...               ...               ...             ...                          ...                       ...               ...          ...            ...   ...                                          ...                         ...
473              Gein Zuidwest              T97b               870             815                         1207                       478              1690           37             25     2                                            4                           6
474             Gein Noordoost              T97c              1617            1651                         1614                      1654              3365           45             18     5                                           25                           1
475              Gein Zuidoost              T97d              1734            1641                         2185                      1190              3395           23             14     4                                            3                           5
476              Dorp Driemond              T98a               784             705                          746                       743              1435           20             15     2                                            1                           4
477  Landelijk Gebied Driemond              T98b                58              73                           33                        98               110            9              9     0                                            0                           0

[463 rows x 12 columns]

In [80]:
#removing empty values
frame.drop(frame[frame['Sum_felonies'] == ''].index, axis=0, inplace=True)

In [266]:
frame.describe()

       Households without Children  Households with Children  Total Population  Sum_felonies  Counterfeiting       Theft  Vandalism/Aggression against law enforcement  Violence and Sexual Assault  Safety ranking  Percentage families in households  Percentage felonies per 1000 citizens  Sum_felonies Absolute  Theft Absolute  Counterfeiting Absolute  Vandalism/Aggression against law enforcement Absolute  Violence and Sexual Assault Absolute
count                   456.000000                456.000000        456.000000     456.00000      456.000000  456.000000                                    456.000000                   456.000000             0.0                         456.000000                             456.000000             456.000000      456.000000               456.000000                                         456.000000                                456.000000
mean                   1277.572368                639.703947       1924.692982     166.04386      132.723684    5.239035                                     11.359649                    15.140351             NaN                          33.963253                              16.604386             147.640241        9.750088               117.441842                                           9.120910                                 15.641809
std                     964.797980                644.428659       1637.316491     398.49809      313.987412    6.395215                                     77.473753                    35.716743             NaN                          31.861393                              39.849809             166.539088       12.114952               137.852933                                          10.636152                                 17.183991
min                       1.000000                  0.000000          5.000000       0.00000        0.000000    0.000000                                      0.000000                     0.000000             NaN                           0.000000                               0.000000               0.000000        0.000000                 0.000000                                           0.000000                                  0.000000
25%                     461.250000                128.250000        576.250000      37.00000       27.000000    2.000000                                      2.000000                     3.000000             NaN                          20.908172                               3.700000              53.465000        2.115000                40.200000                                           2.706250                                  4.683750
50%                    1155.500000                482.000000       1715.000000      52.50000       42.000000    4.000000                                      4.000000                     6.000000             NaN                          29.129252                               5.250000             107.385000        6.300000                81.730000                                           6.832500                                 11.167500
75%                    1975.750000                936.750000       2873.750000      96.00000       79.750000    7.000000                                      6.000000                    10.000000             NaN                          43.657474                               9.600000             186.918750       13.527500               145.672500                                          12.362500                                 20.811250
max                    4420.000000               3907.000000      14525.000000    3619.00000     3152.000000   82.000000                                   1612.000000                   376.000000             NaN                         540.000000                             361.900000            1606.320000      145.250000              1322.730000                                         137.020000                                131.750000

# 3. Data Analysis
First steps in analyzing the data

## Correlation

Is there a relationship between household types and fellony rates within neighbourhoods?

In [83]:
#Changing INT to STRING
frame['Sum_felonies'] = pd.to_numeric(frame['Sum_felonies'])
frame['Counterfeiting'] = pd.to_numeric(frame['Counterfeiting'])
frame['Theft'] = pd.to_numeric(frame['Theft'])
frame['Vandalism/Aggression against law enforcement'] = pd.to_numeric(frame['Vandalism/Aggression against law enforcement'])
frame['Violence and Sexual Assault'] = pd.to_numeric(frame['Violence and Sexual Assault'])

-0.2607602030062491

In [84]:
frame['Households with Children'].corr(frame['Sum_felonies'])

-0.2607602030062491

In [90]:
frame['Households without Children'].corr(frame['Theft'])

-0.06870626930636578

In [87]:
frame['Households with Children'].corr(frame['Counterfeiting'])

-0.27044762367968667

In [91]:
frame['Households with Children'].corr(frame['Violence and Sexual Assault'])

-0.23100797441372542

## Qcut - top safest and least safe neighbourhoods

In [96]:
pd.qcut(frame['Sum_felonies'], q=4).value_counts()

(-0.001, 37.0]    116
(52.5, 96.0]      115
(96.0, 3619.0]    113
(37.0, 52.5]      112
Name: Sum_felonies, dtype: int64

In [108]:
labels=["Really safe (0 to 37 felonies)", "Safe (37 to 52.5 felonies)", "Moderately not safe (52.5 to 96 felonies)", "Not safe (96 or more felonies)"]

In [265]:
frame['Safety ranking'] = pd.qcut(frame['Sum_felonies'], q = 4, labels = labels).value_counts()
print(pd.qcut(frame['Sum_felonies'], q = 4, labels = labels).value_counts())

Really safe (0 to 37 felonies)               116
Moderately not safe (52.5 to 96 felonies)    115
Not safe (96 or more felonies)               113
Safe (37 to 52.5 felonies)                   112
Name: Sum_felonies, dtype: int64

In [262]:
#Show the top 10 safest neighborhoods according to the number of felonies per 1000 citizens
top_10_neighborhoods = frame.loc[frame['Safety ranking'] == 'Really safe (0 to 37 felonies)']
.groupby(['Sum_felonies']).min()
top_10_neighborhoods[['Neighborhood Name', 'Percentage families in households']].head(10)

                      Neighborhood Name  Percentage families in households
Sum_felonies
0                                   AMC                           0.000000
9             Landelijk Gebied Driemond                          89.090909
12                       Park Haagseweg                          51.443850
15                            Holysloot                          46.747720
16                          Twiske West                          56.049383
17               Tuindorp Oostzaan West                          30.508475
19                     Elzenhagen Noord                          71.881607
20                        Dorp Driemond                          51.777003
22                 Oostoever Sloterplas                          38.805970
23                        Gein Zuidoost                          24.545455

In [261]:
#Show the top 10 least negative neighborhoods according to the number of felonies per 1000 citizens
top_10_neighborhoods_unsafe = frame.loc[frame['Safety ranking'] == 'Not safe (96 or more felonies)']
.groupby(['Sum_felonies']).max()
top_10_neighborhoods_unsafe[['Neighborhood Name', 'Percentage families in households']].tail(10)

                          Neighborhood Name  Percentage families in households
Sum_felonies
1421                               Teleport                           1.538462
1632                       Nieuwe Kerk e.o.                          13.788820
1700              Amstel III deel C/D Noord                           6.000000
1925                         Reguliersbuurt                          10.555556
2100                  Leidsebuurt Noordwest                           5.200000
2240                    Sloterdijk III West                           6.666667
2328                         Oude Kerk e.o.                           7.101449
2608                           Gouden Bocht                          24.615385
3482          Bedrijventerrein Sloterdijk I                          12.941176
3619              Amstel III deel A/B Noord                           7.619048

In [195]:
frame['Percentage families in households'] = (frame['Households with Children'] / frame['Total Population']) * 100

#To get absolute sum of felonies
frame['Sum_felonies Absolute'] = (frame['Sum_felonies'] * (frame['Total Population'] / 1000))
frame['Theft Absolute'] = (frame['Theft'] * (frame['Total Population'] / 1000))
frame['Counterfeiting Absolute'] = (frame['Counterfeiting'] * (frame['Total Population'] / 1000))
frame['Vandalism/Aggression against law enforcement Absolute'] = (frame['Vandalism/Aggression against law enforcement'] * (frame['Total Population'] / 1000))
frame['Violence and Sexual Assault Absolute'] = (frame['Violence and Sexual Assault'] * (frame['Total Population'] / 1000))

In [125]:
#get correlation Households with children
frame['Households with Children'].corr(frame['Sum_felonies Absolute'])

0.12982056114906662

In [132]:
#get correlation Households without children
frame['Households with Children'].corr(frame['Counterfeiting Absolute'])

0.10293874653028906

In [267]:
df = pd.DataFrame(frame, columns = ['Households with Children', 'Households without Children', 'Sum_felonies Absolute', 'Theft Absolute', 'Counterfeiting Absolute', 'Vandalism/Aggression against law enforcement Absolute','Violence and Sexual Assault Absolute'])
corrMatrix = df.corr()
corrMatrix[['Households without Children']]

                                                    Households without Children
Households with Children                                               0.691342
Households without Children                                            1.000000
Sum_felonies Absolute                                                  0.276957
Theft Absolute                                                         0.552489
Counterfeiting Absolute                                                0.249033
Vandalism/Aggression against law enforcement Ab...                     0.400915
Violence and Sexual Assault Absolute                                   0.422375

In [269]:
corrMatrix[['Households with Children']]

                                                    Households with Children
Households with Children                                            1.000000
Households without Children                                         0.691342
Sum_felonies Absolute                                               0.129821
Theft Absolute                                                      0.637672
Counterfeiting Absolute                                             0.102939
Vandalism/Aggression against law enforcement Ab...                  0.356264
Violence and Sexual Assault Absolute                                0.273509

## How safe is your neighborhood?

In [280]:
def family_liveability(x):
    return frame.loc[frame['Neighborhood Name'] == x]

In [284]:
family_liveability('')

Empty DataFrame
Columns: [Neighborhood Name, Neighborhood Code, Population Female, Population Male, Households without Children, Households with Children, Total Population, Sum_felonies, Counterfeiting, Theft, Vandalism/Aggression against law enforcement, Violence and Sexual Assault, Safety ranking, Percentage families in households, Percentage felonies per 1000 citizens, Sum_felonies Absolute, Theft Absolute, Counterfeiting Absolute, Vandalism/Aggression against law enforcement Absolute, Violence and Sexual Assault Absolute]
Index: []